{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}
{% translate "News" %}
{% endblock %}

{% block content %}

{% if can_edit %}
<form role="form" class="form-horizontal" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% buttons submit=_('Add') reset=_('Reset') layout='horizontal' %}{% endbuttons %}
</form>
{% else %}
<p>{% translate "You need to log in as moderator" %}</p>
{% endif %}

{% endblock %}
