{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}
{% translate "News" %}
{% endblock %}

{% block content %}

    <table class="table">
        <tr>
            <th>{% translate "Param" %}</th>
            <th>{% translate "Value" %}</th>
        </tr>
        {% for line in lines %}
        <tr>
            {% for item in line %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}
