{% extends 'bootstrap.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block bootstrap4_content %}
    {% include "setlang.html" %}
    <div class="container">
        <h1>{% block title %}{% translate '(no title)' %}{% endblock %}</h1>

        <p>
            {% if logged_in %}
            {{ username }}|
            <a href="{% url 'log_out' %}">{% translate "Log out" %}</a>
            |
            <a href="{% url 'change_user_data' %}">{% translate "Change my data" %}</a>
            <br/>
            <a href="{% url 'add_author' %}">{% translate "Add author" %}</a>
            <a href="{% url 'add_article' %}">{% translate "Add article" %}</a>
            <a href="{% url 'list_authors' %}">{% translate "List authors" %}</a>
            <a href="{% url 'list_articles' %}">{% translate "List articles" %}</a>
            {% else %}
            {% translate 'You must be logged in. Proceed to do so.' %}
            <a href="{% url 'log_in' %}">{% translate "Log in" %}</a>
            {% endif %}
        </p>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% if logged_in %}
        {% block content %}{% translate '(no content)' %}{% endblock %}
        {% endif %}
    </div>

{% endblock %}
