{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}
{% translate "News" %}
{% endblock %}

{% block content %}

    <table class="table">
        <tr>
            <th>{% translate "Header" %}</th>
            <th>{% translate "Text" %}</th>
            <th>{% translate "Publication time" %}</th>
            <th>{% translate "View count" %}</th>
            <th>{% translate "Interaction" %}</th>
        </tr>
        {% for line in lines %}
        <tr>
            <td>{{ line.header }}</td>
            <td>{{ line.text }}</td>
            <td>{{ line.publication_time }}</td>
            <td>{{ line.view_count }}</td>
            <td>
                {% if can_edit %}
                <form role="form" class="form-inline" method="POST">
                    {% csrf_token %}
                    {% buttons %}
                        <button type="submit" class="btn btn-outline-success" name="upd" value='{{ line.id }}'>{% translate "Update" %}</button>
                        <button type="submit" class="btn btn-outline-danger" name="del" value='{{ line.id }}'>{% translate "Delete" %}</button>
                        <button type="submit" class="btn btn-outline-info" name="det" value='{{ line.id }}'>{% translate "Details" %}</button>
                    {% endbuttons %}
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
